In [1]:
%load_ext autoreload
%autoreload 2

# Step loading data

In [1]:
import pandas as pd
import numpy as np

In [3]:
from openproblems.tasks.regulatory_effect_prediction import datasets
adata = datasets.share_mouse_skin(test=False)
adata.shape

(34774, 23076)

In [5]:
adata.uns['mode2_var_chr'].shape, adata.uns['mode2_var'].shape

((344592,), (344592, 3))

In [7]:
adata.shape, adata.obsm['mode2'].shape

((34774, 23076), (34774, 344592))

## Copy of utility functions

In [9]:
from openproblems.patch import patch_datacache
import numpy as np
import pandas as pd
import scanpy as sc
import warnings

def _chrom_limit(x, tss_size=2e5):
    """Extend TSS to upstream and downstream intervals.

    Parameters
    ----------
    x : pd.Series
        a pd.Series containing [start, end, direction]
        where start and end are ints and direction is {'+', '-'}.
    tss_size: int
        a int that defines the upstream and downstream regions around TSS
    """
    y = x.values
    gene_direction = y[-1]
    gene_start = y[-3]
    gene_end = y[-2]
    if gene_direction == "+":
        return [gene_start - tss_size // 2, gene_start + tss_size // 2]
    else:
        return [gene_end - tss_size // 2, gene_end + tss_size // 2]


def _get_annotation(adata, retries=3):
    """Insert meta data into adata.obs."""
    from pyensembl import EnsemblRelease

    data = EnsemblRelease(
        adata.uns["release"],
        adata.uns["species"],
    )
    for _ in range(retries):
        try:
            with patch_datacache():
                data.download(overwrite=False)
                data.index(overwrite=False)
            break
        except TimeoutError:
            pass

    # get ensemble gene coordinate
    genes = []
    for i in adata.var.index.map(lambda x: x.split(".")[0]):
        try:
            with warnings.catch_warnings():
                warnings.filterwarnings(
                    action="ignore", message="No results found for query"
                )
                gene = data.gene_by_id(i)
            genes.append(
                [
                    "chr%s" % gene.contig,
                    gene.start,
                    gene.end,
                    gene.strand,
                ]
            )
        except ValueError:
            try:
                with warnings.catch_warnings():
                    warnings.filterwarnings(
                        action="ignore", message="No results found for query"
                    )
                    i = data.gene_ids_of_gene_name(i)[0]
                gene = data.gene_by_id(i)
                genes.append(
                    [
                        "chr%s" % gene.contig,
                        gene.start,
                        gene.end,
                        gene.strand,
                    ]
                )
            except (IndexError, ValueError) as e:
                print(e)
                genes.append([np.nan, np.nan, np.nan, np.nan])
    old_col = adata.var.columns.values
    adata.var = pd.concat(
        [adata.var, pd.DataFrame(genes, index=adata.var_names)], axis=1
    )
    adata.var.columns = np.hstack(
        [old_col, np.array(["chr", "start", "end", "strand"])]
    )


def _filter_mitochondrial(adata):
    if adata.uns["species"] in ["mus_musculus", "homo_sapiens"]:
        adata.var["mt"] = adata.var.gene_short_name.str.lower().str.startswith(
            "mt-"
        )  # annotate the group of mitochondrial genes as 'mt'
        sc.pp.calculate_qc_metrics(
            adata, qc_vars=["mt"], percent_top=None, log1p=False, inplace=True
        )

        adata_filter = adata[adata.obs.pct_counts_mt <= 10]
        if adata_filter.shape[0] > 100:
            adata = adata_filter.copy()
    return adata


def _filter_n_genes_max(adata):
    adata_filter = adata[adata.obs.n_genes_by_counts <= 2000]
    if adata_filter.shape[0] > 100:
        adata = adata_filter.copy()
    return adata


def _filter_n_genes_min(adata):
    adata_filter = adata.copy()
    sc.pp.filter_cells(adata_filter, min_genes=200)
    if adata_filter.shape[0] > 100:
        adata = adata_filter
    return adata


def _filter_n_cells(adata):
    adata_filter = adata.copy()
    sc.pp.filter_genes(adata_filter, min_cells=5)
    if adata_filter.shape[1] > 100:
        adata = adata_filter
    return adata


def _filter_has_chr(adata):
    adata_filter = adata[:, ~pd.isnull(adata.var.loc[:, "chr"])].copy()
    if adata_filter.shape[1] > 100:
        adata = adata_filter
    return adata

## Get gene coordinates

In [10]:
_get_annotation(adata)

No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['0610007P14Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['0610009O20Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['0610011F06Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['0610037L13Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['1010001N08Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['1110001J03Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['1110004E09Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['1110008F13Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['1110008L16Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['1110034G24Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['1110036E04Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['1110037F02Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['1190002N15Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['1190003K10Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['1500011K16Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['1500015O10Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['1600002H07Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['1600002K03Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['1700001C02Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['1700003G13Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['1700006E09Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['1700007B14Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['1700007G11Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['1700007K09Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['1700011A15Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['1700011E24Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['1700011H14Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['1700011I03Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['1700015E13Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['1700016G14Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['1700017D01Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['1700018C11Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['1700019B03Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['1700019B21Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['1700019G17Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['1700020I14Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['1700021F05Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['1700022F17Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['1700023F06Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['1700024P16Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['1700025F22Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['1700026L06Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['1700040L02Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['1700047I17Rik2']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['1700049G17Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['1700049J03Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['1700061G19Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['1700080E11Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['1700080G11Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['1700112E06Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['1700123I01Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['1810011H11Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['1810011O10Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['1810022K09Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['1810026J23Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['1810032O08Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['1810041L15Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['1810043G02Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['1810043H04Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['2010001E11Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['2010005H15Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['2010015M23Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['2010107E04Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['2010107G12Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['2010107G23Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['2010109I03Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['2010111I01Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['2010300F17Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['2210008F06Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['2210011C24Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['2210013O21Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['2210019I11Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['2210404O09Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['2300005B03Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['2310007B03Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['2310031A07Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['2310035C23Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['2310036O22Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['2310069G16Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['2410015M20Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['2410016O06Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['2410089E03Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['2610020H08Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['2610305D13Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['2610524H06Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['2700012I20Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['2700016F22Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['2700029M09Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['2700060E02Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['2700094K13Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['2810403A07Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['2810417H13Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['2810425M01Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['2810428I15Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['2810474O19Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['2900011O08Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['2900055J20Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['3010026O09Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['3100002H09Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['3110002H16Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['3110035E14Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['3110043O21Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['3110052M02Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['3110062M04Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['3110079O15Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['3632451O06Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['4631405K08Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['4732456N10Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['4831440E17Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['4833423E24Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['4921501E09Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['4921506M07Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['4921511H03Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['4921513D11Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['4922502D21Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['4930415F15Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['4930427A07Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['4930430A15Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['4930435E12Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['4930444M15Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['4930448N21Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['4930455D15Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['4930469G21Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['4930480K23Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['4930502E18Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['4930504O13Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['4930524J08Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['4930535I16Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['4930538K18Rik']

No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['A130057D12Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['A230046K03Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['A230050P20Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['A230065H16Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['A330017A19Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['A330050F15Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['A330069E16Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['A430046D13Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['A430078G23Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['A430105I19Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['A430106G13Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['A630033H20Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['A630077J23Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['A630095E13Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['A730015C16Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['A730017C20Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['A830010M20Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['A830039N20Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['A830080D01Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['A930011G23Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['A930018M24Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['A930024N18Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['AA415398']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['AA474331']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['AA543186']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['AC124606']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['AC125149']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['AC133103']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['AC163611']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['AC168977']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['AF251705']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['AF529169']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['AI314180']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['AI317395']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['AI464131']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['AI481877']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['AI606181']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['AI607873']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['AI846148']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['AI854517']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['AK010878']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['AU019823']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['AW121686']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Aaed1']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Acpt']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Adck3']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Adck4']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Adrbk1']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Adrbk2']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Aes']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Agpat9']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Aim1']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Aim1l']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Akap2']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Als2cr11']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Als2cr12']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Amica1']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Apitd1']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Apoa1bp']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Asun']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Athl1']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Atp5f1']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Atp5s']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Atp5sl']

No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['B130006D01Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['B230344G16Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['B630005N14Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['B930041F14Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['B930082K07Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['BC003331']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['BC005561']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['BC017643']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['BC021614']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['BC021785']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['BC021891']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['BC022687']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['BC023829']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['BC025446']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['BC026585']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['BC027072']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['BC029214']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['BC030336']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['BC030499']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['BC030867']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['BC030870']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['BC037034']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['BC048502']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['BC048546']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['BC048609']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['BC051628']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['BC068281']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['BC089491']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['BC089597']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['BC094916']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['BC100451']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['BC100530']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['BC117090']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Bre']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Btg1-ps1']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Bzrap1']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['C030039L03Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['C130060K24Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['C130079G13Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['C230021G24Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['C230088H06Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['C330006A16Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['C330013J21Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['C330021F23Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['C330027C09Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['C530050E15Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['C77370']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['CAAA01147332']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['CAAA01165726']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['CT868723']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Carkd']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Casc5']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Ccbl1']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Ccbl2']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Ccdc108']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Ccdc109b']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Ccdc129']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Ccdc53']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Ccdc64']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Ccdc64b']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Ccdc67']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Ccdc79']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Ccdc94']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Cd244']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Cd300lh']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Cecr5']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Cecr6']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Chd3os']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Cirh1a']

No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Cml1']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Cml3']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Cml5']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Cpsf3l']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Csrp2bp']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Ctage5']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Ctgf']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Cxx1a']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Cxx1b']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Cxx1c']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Cyp2c44']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Cyr61']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['D10Jhu81e']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['D130051D11Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['D15Ertd621e']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['D17Wsu92e']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['D230017M19Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['D2Wsu81e']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['D330020A13Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['D330045A20Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['D3Ertd254e']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['D730001G18Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['D830044I16Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['D8Ertd82e']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['D930015E06Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['D930016D06Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['D930048G16Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['DHRSX']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Ddx26b']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Deb1']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Dfna5']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Dfnb59']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Dgcr14']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Diexf']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Dirc2']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Dopey1']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Dopey2']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Dpcd']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Dpcr1']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Dscr3']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Dyx1c1']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Dyx1c1Ccpg1']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['E130012A19Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['E130309D14Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['E330009J07Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['E330017A01Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['E430025E21Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['E530001K10Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Eftud1']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Enthd2']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Ept1']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Erbb2ip']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Esp6Esp5']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Etohi1']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['F930015N05Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['FRMPD2']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Fam101a']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Fam101b']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Fam103a1']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Fam105a']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Fam109a']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Fam109b']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Fam120aos']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Fam132a']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Fam132b']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Fam134a']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Fam134b']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Fam134c']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Fam150a']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Fam150b']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Fam159a']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Fam159b']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Fam173b']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Fam175a']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Fam175b']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Fam178a']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Fam179a']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Fam179b']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Fam188a']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Fam188b']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Fam195a']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Fam195b']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Fam196a']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Fam196b']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Fam198a']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Fam198b']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Fam19a1']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Fam19a2']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Fam19a3']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Fam19a4']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Fam19a5']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Fam206a']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Fam208a']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Fam208b']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Fam21']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Fam212a']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Fam212b']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Fam213a']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Fam213b']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Fam26d']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Fam26e']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Fam26f']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Fam35a']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Fam46a']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Fam46b']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Fam46c']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Fam46d']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Fam58b']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Fam60a']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Fam63a']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Fam63b']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Fam64a']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Fam65a']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Fam65b']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Fam65c']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Fam69a']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Fam69b']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Fam69c']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Fam73a']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Fam73b']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Fam84a']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Fam84b']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Fam96a']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Fam96b']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Fbxo18']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Fdx1l']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Figf']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Fmr1os']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Ftsj2']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Fuk']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['G630090E17Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['G6b']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Garem']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gareml']

No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm10020']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm10031']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm10083']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm10093']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm10094']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm10104']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm10295']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm10306']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm10311']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm1045']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm10489']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm10604']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm10822']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm11273']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm11345']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm11375']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm11397']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm11709']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm11744']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm11985']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm12082']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm12300']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm12355']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm12603']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm12847']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm12942']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm1305']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm13051']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm13097']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm13111']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm13125']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm13139']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm13145']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm13151']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm13152']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm13154']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm13157']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm13177']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm13178']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm13225']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm13235']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm13247']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm13248']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm13251']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm13741']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm13762']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm13763']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm13769']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm13834']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm14012']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm14025']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm14085']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm14306']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm14420']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm14818']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm15137']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm15205']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm15341']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm15440']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm15585']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm15598']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm156']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm15658']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm15674']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm15698']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm15717']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm15735']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm15800']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm16049']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm16052']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm16194']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm16314']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm16365']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm16432']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm16503']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm16586']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm1661']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm16619']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm16702']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm16755']

No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm16907']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm17250']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm17252']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm17275']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm17281']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm17296']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm17305']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm17315']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm17365']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm17514']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm17518']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm17586']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm17615']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm17619']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm17689']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm19273']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm19902']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm20388']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm20425']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm20497']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm20499']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm20726']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm21747']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm21807']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm21887']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm21967']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm21975']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm22']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm26507']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm26514']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm26515']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm26516']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm26517']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm26518']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm26521']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm26522']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm26523']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm26526']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm26530']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm26534']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm26536']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm26538']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm26541']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm26545']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm26546']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm26547']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm26551']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm26561']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm26563']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm26567']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm26573']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm26578']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm26580']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm26582']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm26584']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm26593']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm26599']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm26601']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm26603']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm26606']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm26609']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm26610']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm26613']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm26615']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm26617']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm26619']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm26623']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm26624']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm26625']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm26637']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm26641']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm26643']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm26659']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm26663']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm26664']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm26668']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm26669']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm26677']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm26681']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm26683']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm26694']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm26697']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm26698']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm26699']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm26706']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm26710']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm26711']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm26719']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm26721']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm26722']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm26732']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm26733']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm26734']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm26735']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm26742']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm26745']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm26750']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm26752']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm26753']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm26762']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm26763']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm26764']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm26765']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm26767']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm26768']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm26772']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm26773']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm26775']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm26780']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm26785']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm26786']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm26790']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm26792']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm26798']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm26799']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm26804']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm26809']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm26816']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm26819']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm26823']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm26824']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm26825']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm26829']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm26830']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm26835']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm26836']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm26837']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm26840']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm26841']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm26846']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm26847']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm26848']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm26849']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm26851']
No results found for query:


No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm43253']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm43257']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm43261']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm43265']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm43271']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm43277']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm43278']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm43291']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm43299']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm43306']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm43325']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm43337']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm43352']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm43385']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm43453']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm43454']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm43536']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm43543']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm43565']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm43591']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm436']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm43603']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm43642']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm43643']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm43644']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm43673']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm43683']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm43716']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm43733']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm43734']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm43740']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm43741']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm43757']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm43786']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm43796']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm438']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm43801']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm43832']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm43878']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm43902']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm43938']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm43949']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm43956']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm43986']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm43989']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm43995']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm43998']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm44004']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm44025']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm44029']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm44031']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm44042']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm44051']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm44082']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm44160']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm44188']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm44191']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm44195']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm44197']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm44205']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm44217']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm44244']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm44246']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm44276']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm44290']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm44293']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm44309']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm44368']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm44398']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm44447']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm4477']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm4763']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm4794']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm4858']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm4944']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm4955']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm498']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm5416']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm5483']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm5538']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm5580']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm5595']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm561']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm5615']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm5689']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm5868']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm590']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm595']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm6086']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm6297']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm6634']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm6768']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm6792']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm684']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm6904']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm694']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm6970']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm6976']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm7120']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm7173']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm7221']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm7257']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm7534']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm766']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm7976']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm813']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm8239']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm8298']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm8394']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm853']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm8898']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm8975']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm8994']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm9047']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm9125']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm9268']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm9881']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm9938']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm9956']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm996']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm9992']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gm9994']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gnb2l1']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gsg2']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gucy1a3']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gucy1b3']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Gyltl1b']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['H1fnt']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['H1foo']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['H1fx']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['H2-M10']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['H2-M10']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['H2afj']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['H2afv']
No results found for query:

            SELECT distinct gene_id
            FROM gene

No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Hist1h1a']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Hist1h1b']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Hist1h1c']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Hist1h1d']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Hist1h1e']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Hist1h1t']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Hist1h2aa']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Hist1h2ab']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Hist1h2ac']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Hist1h2ad']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Hist1h2ae']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Hist1h2af']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Hist1h2ag']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Hist1h2ah']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Hist1h2ai']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Hist1h2ak']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Hist1h2ba']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Hist1h2bb']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Hist1h2bc']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Hist1h2be']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Hist1h2bf']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Hist1h2bg']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Hist1h2bh']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Hist1h2bj']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Hist1h2bk']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Hist1h2bl']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Hist1h2bm']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Hist1h2bn']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Hist1h3a']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Hist1h3b']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Hist1h3c']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Hist1h3d']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Hist1h3e']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Hist1h3f']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Hist1h3g']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Hist1h3h']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Hist1h3i']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Hist1h4a']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Hist1h4b']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Hist1h4c']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Hist1h4d']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Hist1h4f']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Hist1h4h']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Hist1h4i']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Hist1h4j']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Hist1h4k']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Hist2h2ab']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Hist2h2ac']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Hist2h2bb']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Hist2h2be']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Hist2h3c1']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Hist2h3c2']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Hist2h4']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Hist3h2a']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Hist3h2ba']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Hist4h4']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Hmga1-rs1']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Hmha1']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Hn1']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Hn1l']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Hrasls']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Hrasls5']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Hrsp12']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Ick']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Ict1']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Ikbkap']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Inadl']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Iqcf3']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Irg1']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Ispd']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['K230010J24Rik']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Kdelc1']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Kdelc2']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Kif1bp']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Klhl17']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Lace1']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Large']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Ldoc1l']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Lect1']

No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Lnp']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Lppos']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Lrrc16a']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Lrrc16b']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Lrrc48']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Lyrm5']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Marc1']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Marc2']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['March1']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['March10']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['March11']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['March2']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['March3']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['March4']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['March5']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['March6']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['March7']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['March8']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['March9']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Mars']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Mb21d1']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Mesdc1']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Mesdc2']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Mettl10']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Mettl13']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Mettl20']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Mettl21b']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Mfi2']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Mfsd4']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Mfsd7b']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Mfsd7c']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Mgea5']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Micalcl']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Mina']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Minos1']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Mir143hg']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Mkl1']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Mkl2']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Mllt4']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Mnda']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Mtap7d3']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Mtl5']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Mtss1l']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Mum1']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Mum1l1']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Murc']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Mut']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Myeov2']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['N6amt2']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Narfl']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Nat6']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Ndnl2']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Nespas']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Ngfrap1']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Nhp2l1']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Nov']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Obfc1']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Olfr175-ps1']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Olfr391-ps']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Oraov1']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['PISD']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Pacrgl']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Palm2']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Papd4']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Papd5']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Papd7']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Papl']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Park2']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Pcnxl2']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Pcnxl3']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Pcnxl4']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Pddc1']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Peo1']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Pet2']

No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Pla2g16']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Platr17']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Platr2']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Ppp1r3fos']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Ppp2r4']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Pqlc1']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Prkcdbp']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Prkrir']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Prmt10']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Prosc']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Prune']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Ptchd2']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Ptrf']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Pvrl1']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Pvrl2']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Pvrl3']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Pvrl4']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Pydc3']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Pydc4']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Pyhin1']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Qtrtd1']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['RP23-106P7']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['RP23-10I8']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['RP23-11L1']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['RP23-11L1']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['RP23-121N17']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['RP23-133N24']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['RP23-136A14']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['RP23-137A24']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['RP23-138J20']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['RP23-142A14']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['RP23-143D11']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['RP23-143J24']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['RP23-145H5']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['RP23-152B12']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['RP23-152P20']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['RP23-152P5']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['RP23-156J8']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['RP23-16L19']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['RP23-16L19']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['RP23-170L10']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['RP23-172P1']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['RP23-172P1']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['RP23-174K7']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['RP23-175F18']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['RP23-178C20']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['RP23-179K11']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['RP23-17C12']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['RP23-17C12']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['RP23-183J18']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['RP23-183J18']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['RP23-184D18']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['RP23-184F6']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['RP23-184K1']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['RP23-184K1']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['RP23-184M3']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['RP23-184M3']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['RP23-185P17']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['RP23-191I16']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['RP23-191I16']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['RP23-198F11']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['RP23-202M11']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['RP23-205F19']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['RP23-207N5']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['RP23-207N5']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['RP23-213H1']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['RP23-216D14']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['RP23-216D14']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['RP23-216D14']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['RP23-216D14']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['RP23-218E6']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['RP23-218K15']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['RP23-21B1']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['RP23-21B1']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['RP23-222G6']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['RP23-225M4']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['RP23-231J2']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['RP23-235M8']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['RP23-240M8']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['RP23-244C22']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['RP23-259N3']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['RP23-268E17']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['RP23-26A14']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['RP23-272F2']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['RP23-274K7']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['RP23-274K7']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['RP23-276E14']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['RP23-276L17']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['RP23-278M8']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['RP23-281H4']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['RP23-291B1']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['RP23-292B24']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['RP23-292C5']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['RP23-294B14']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['RP23-298C3']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['RP23-299D2']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['RP23-2D23']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['RP23-300E17']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['RP23-306P12']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['RP23-306P12']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['RP23-307M24']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['RP23-310J6']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['RP23-310N5']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['RP23-312I2']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['RP23-316J6']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['RP23-316J6']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['RP23-324J22']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['RP23-325D10']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['RP23-328F4']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['RP23-32A8']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['RP23-32A8']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['RP23-32A8']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['RP23-32A8']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['RP23-32A8']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['RP23-330A14']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['RP23-331A21']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['RP23-332G12']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['RP23-335G1']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['RP23-336F11']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['RP23-338G5']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['RP23-338G5']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['RP23-340E19']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['RP23-341H2']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['RP23-341H2']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['RP23-341H2']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['RP23-342N5']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['RP23-343H23']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['RP23-344G21']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['RP23-345M1']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['RP23-34O23']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['RP23-34O23']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?


No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Rfwd2']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Rgag1']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Rgag4']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Ric8']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Rltpr']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Rnmtl1']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Rqcd1']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Rsg1']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Rtfdc1']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['SDR42E2']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Scn2a1']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Sdccag3']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Sdpr']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Selk']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Selm']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Selo']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Selt']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Sep15']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Sepn1']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Sepp1']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Sept1']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Sept10']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Sept11']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Sept12']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Sept14']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Sept2']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Sept3']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Sept4']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Sept5']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Sept6']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Sept7']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Sept8']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Sept9']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Sepw1']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Setd8']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Sgol1']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Sgol2a']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Sgol2b']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Shfm1']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Skiv2l2']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Slmo1']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Slmo2']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Smek1']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Smek2']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Spert']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Sqrdl']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Ssfa2']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Sssca1']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['St5']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Stra13']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Suv420h1']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Suv420h2']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Taf4a']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Tceb1']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Tceb2']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Tceb3']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Tex13']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Tex19']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Tex40']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Tldc1']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Tmem110']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Tmem136']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Tmem173']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Tmem180']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Tmem194']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Tmem194b']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Tmem2']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Tmem206']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Tmem261']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Tmem27']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Tmem35']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Tmem5']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Tmem55a']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Tmem55b']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Tmem56']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Tmem57']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Tmem8c']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Toporsos']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Trove2']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Tssc1']

No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Tusc5']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Vimp']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Vprbp']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Vwa9']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['WDR97']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['WI1-2587D24']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Wash1']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Wbp5']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Wbscr16']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Wbscr17']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Wbscr22']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Wbscr27']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Wbscr28']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Whsc1']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Whsc1l1']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Wisp1']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Wisp2']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Wisp3']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Wrb']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Xrcc6bp1']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Zak']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Zcchc11']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Zcchc16']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Zcchc5']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Zcchc6']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Zfos1']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Zfp607']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['Zufsp']
No results found for query:

            SELECT distinct gene_id
            FROM gene
            WHERE gene_name = ?

with parameters: ['l7Rn6']

In [11]:
adata.var.head()

,gene_short_name,n_counts,chr,start,end,strand
0610007P14Rik,0610007P14Rik,485.0,NaN,NaN,NaN,NaN
0610009B22Rik,0610009B22Rik,133.0,chr11,51685386.0,51688874.0,-
0610009L18Rik,0610009L18Rik,53.0,chr11,120348678.0,120351190.0,+
0610009O20Rik,0610009O20Rik,750.0,NaN,NaN,NaN,NaN
0610010F05Rik,0610010F05Rik,1570.0,chr11,23564961.0,23633639.0,-

In [12]:
adata.shape, adata.obsm['mode2'].shape

((34774, 23076), (34774, 344592))

In [13]:
# basic quality control
adata = _filter_has_chr(adata)
adata = _filter_mitochondrial(adata)
adata = _filter_n_genes_max(adata)
adata = _filter_n_genes_min(adata)
adata = _filter_n_cells(adata)

In [14]:
adata.shape, adata.obsm['mode2'].shape

((33827, 18671), (33827, 344592))

## Normalize

In [15]:
sc.pp.normalize_total(adata, target_sum=1e4)
sc.pp.log1p(adata)

# (Joint) Feature selection 

* currently selected by top 2000 variable genes

In [16]:
if 2000 <= adata.shape[1]:
    sc.pp.highly_variable_genes(adata, n_top_genes=2000)
    adata = adata[:, adata.var.highly_variable].copy()

In [17]:
# generate peak to gene weight matrix
# remove genes without annotation
adata = adata[
    :, adata.var.loc[:, "chr"].isin(np.unique(adata.uns["mode2_var_chr"]))
].copy()

In [18]:
adata.shape, adata.obsm['mode2'].shape

((33827, 1994), (33827, 344592))

# Regulatory effect score

In [19]:
# filter atac-seq matrix
sel = np.isin(adata.uns["mode2_var_chr"], adata.var.loc[:, "chr"].unique())
adata.uns["mode2_var"] = adata.uns["mode2_var"][sel]
adata.uns["mode2_var_chr"] = adata.uns["mode2_var_chr"][sel]
adata.uns["mode2_var_start"] = adata.uns["mode2_var_start"][sel]
adata.uns["mode2_var_end"] = adata.uns["mode2_var_end"][sel]
adata.obsm["mode2"] = adata.obsm["mode2"][:, sel]

In [21]:
adata.shape, adata.obsm['mode2'].shape

((33827, 1994), (33827, 344592))

In [22]:
# extend tss upstream and downstream
extend_tss = adata.var.loc[:, ["start", "end", "strand"]].apply(
    _chrom_limit, axis=1
)
extend_tss.shape

(1994,)

In [23]:
if isinstance(extend_tss, pd.DataFrame):
    # should be a series
    extend_tss = extend_tss.iloc[:, 0]

extend_tss = pd.concat(
    [
        adata.var.loc[:, "chr"],
        extend_tss.map(lambda x: x[0]).astype("int32"),
        extend_tss.map(lambda x: x[1]).astype("int32"),
        pd.Series(np.arange(adata.shape[1]), index=adata.var_names),
    ],
    axis=1,
)

In [24]:
(extend_tss.iloc[:, 1]>0).sum(), (extend_tss.iloc[:, 2]>0).sum()

(1994, 1994)

In [25]:
# peak summits
peaks = pd.DataFrame(
    {
        "chr": adata.uns["mode2_var_chr"],
        "start": adata.uns["mode2_var_start"].astype("int32"),
        "end": adata.uns["mode2_var_end"].astype("int32"),
    }
)
summits = pd.concat(
    [
        peaks.iloc[:, 0],
        peaks.iloc[:, [1, 2]].mean(axis=1).astype("int32"),
        (peaks.iloc[:, [1, 2]].mean(axis=1) + 1).astype("int32"),
        pd.Series(np.arange(peaks.shape[0])),
    ],
    axis=1,
)

In [26]:
peaks.shape, summits.shape

((344592, 3), (344592, 4))

## Intersection between peak and TSS(+/- 100kb)

In [27]:
import pybedtools

# overlap TSS bins with peaks
x = pybedtools.BedTool.from_dataframe(summits)
y = pybedtools.BedTool.from_dataframe(extend_tss)

In [28]:
#tss_to_peaks = y.intersect(x, wb=True, wa=True, loj=False).to_dataframe()
tss_to_peaks = x.intersect(y, wb=True, wa=True, loj=True)

/Users/qq06/anaconda3/envs/openproblem/lib/python3.8/subprocess.py:849: RuntimeWarning: line buffering (buffering=1) isn't supported in binary mode, the default buffer size will be used
  self.stderr = io.open(errread, 'rb', bufsize)

In [29]:
tss_to_peaks = tss_to_peaks.to_dataframe(disable_auto_names=True, header=0,
                                         names=["peak_chr", 
                                                 "peak_summit_left",
                                                 "peak_summit_right", 
                                                 "peak_index", 
                                                 "gene_chr", 
                                                 "gene_bin_start", 
                                                 "gene_bin_end", 
                                                 "gene_index"])
print(tss_to_peaks.shape)

(362657, 8)

In [30]:
tss_to_peaks.head()

,peak_chr,peak_summit_left,peak_summit_right,peak_index,gene_chr,gene_bin_start,gene_bin_end,gene_index
0,chr6,3201126,3201127,1,.,-1,-1,.
1,chr9,123462000,123462001,2,chr9,123266927,123466927,1203
2,chr1,56782245,56782246,3,.,-1,-1,.
3,chr9,56223818,56223819,4,.,-1,-1,.
4,chr1,88277609,88277610,5,.,-1,-1,.

In [31]:
# remove non-overlapped TSS and peaks
tss_to_peaks = tss_to_peaks.loc[
    (tss_to_peaks.gene_chr != ".") | (tss_to_peaks.gene_index != "."), :
]

In [34]:
tss_to_peaks.shape, (tss_to_peaks.iloc[:, 1] >0).sum(), (tss_to_peaks.iloc[:, 2] >0).sum()

((97429, 8), 97429, 97429)

In [33]:
tss_to_peaks.shape, (tss_to_peaks.iloc[:, 5] >0).sum(), (tss_to_peaks.iloc[:, 6] >0).sum()

((97429, 8), 97429, 97429)

In [36]:
tss_to_peaks.apply(
    lambda x: abs((int(x[5]) + int(x[6])) / 2 - int(x[1])) * 1.0 / 1e5, axis=1
).values

array([0.95073, 0.87698, 0.29745, ..., 0.0534 , 0.90248, 0.763  ])

In [37]:
tss_to_peaks.shape

(97429, 8)

## Peak to gene distance weighted by MARGE

In [38]:
tss_to_peaks.loc[:, "distance"] = tss_to_peaks.apply(
    lambda x: abs((int(x[5]) + int(x[6])) / 2 - int(x[1])) * 1.0 / 1e5, axis=1
)

In [39]:
alpha = -np.log(1.0 / 3.0) * 1e5 / 1e4
alpha

10.986122886681098

In [40]:
decay_score = np.exp(-alpha * tss_to_peaks["distance"].values)
tss_to_peaks["weight"] = 2.0 * decay_score / (1.0 + decay_score)

In [41]:
tss_to_peaks["weight"].shape

(97429,)

In [42]:
(tss_to_peaks["weight"]>0.9).sum()

5141

In [43]:
import scipy
gene_peak_weight = scipy.sparse.csr_matrix(
    (
        tss_to_peaks.weight.values,
        (tss_to_peaks.gene_index.astype("int32").values, tss_to_peaks.peak_index),
    ),
    shape=(adata.shape[1], adata.uns["mode2_var"].shape[0]),
)

In [44]:
adata.obsm["gene_score"] = adata.obsm["mode2"] @ gene_peak_weight.T

# Imputation of single cell RNA-seq

In [45]:
import scanpy as sc

In [46]:
sc.pp.pca(adata)

In [47]:
sc.pp.neighbors(adata, n_neighbors=300)

In [48]:
adata.layers['X_knn'] = adata.obsp['connectivities'].dot(adata.X)

# Imputatation of single cell ATAC-seq

In [50]:
adata.layers['gene_score_knn'] = adata.obsp['connectivities'].dot(adata.obsm["gene_score"])

# Metrics

## Across genes

In [57]:
def compute_similarity2(O, P):
    "Compute pearson correlation between two matrices O and P using einstein summation"
    (n, t) = O.shape      # n traces of t samples
    (n_bis, m) = P.shape  # n predictions for each of m candidates

    DO = O - (np.einsum("nt->t", O, optimize='optimal') / np.double(n)) # compute O - mean(O)
    DP = P - (np.einsum("nm->m", P, optimize='optimal') / np.double(n)) # compute P - mean(P)

    cov = np.einsum("nm,nt->mt", DP, DO, optimize='optimal')

    varP = np.einsum("nm,nm->m", DP, DP, optimize='optimal')
    varO = np.einsum("nt,nt->t", DO, DO, optimize='optimal')
    tmp = np.einsum("m,t->mt", varP, varO, optimize='optimal')
    return cov / np.sqrt(tmp)

In [59]:
cors = compute_similarity2(adata.layers['X_knn'].toarray(), adata.layers['gene_score_knn'].toarray())

<ipython-input-57-3519e1864505>:14: RuntimeWarning: invalid value encountered in true_divide
  return cov / np.sqrt(tmp)

In [63]:
np.median(cors[~np.isnan(cors)])

0.07538634116228767

In [66]:
cors_diag = np.diag(cors)
np.median(cors_diag[~np.isnan(cors_diag)])

0.14733736751645934

## Across pseudo-bulk cell aggregates by KNN

In [72]:
cors = compute_similarity2(adata.layers['X_knn'].toarray().T[:, :10000], 
                           adata.layers['gene_score_knn'].toarray().T[:, :10000])

In [73]:
np.median(cors[~np.isnan(cors)])

0.13612813178507155

In [74]:
cors_diag = np.diag(cors)
np.median(cors_diag[~np.isnan(cors_diag)])

0.18688686100935356

## Global correlation

In [53]:
def _global_pearson(x, y):
    numerator = np.mean((x - x.mean()) * (y - y.mean()))
    denominator = x.std() * y.std()
    if denominator == 0:
        return 0
    else:
        result = numerator / denominator
        return result

In [54]:
_global_pearson(adata.layers['X_knn'].toarray(),
                adata.layers['gene_score_knn'].toarray())

0.2139866102030402